<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jzbwlkj.leifeng" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- Required -->
    <permission
        android:name="com.jzbwlkj.leifeng.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nbO0tGUrk13BBlQleoe269yI8vluhRcb" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".base.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jzbwlkj.leifeng.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/aaaa" />
        </provider>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true" >
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.jzbwlkj.leifeng" />
            </intent-filter>
        </receiver>

        <service
            android:name=".LocaltionService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- ShareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ShareSDK<strong>3.1.0版本之前</strong>才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="您的AppKey" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="您的AppSecret" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".saomiao.Sao1SaoResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".saomiao.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsDetalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommitHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HelpHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyAcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AcDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterTeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterPersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.TrainingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TrainingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LearningGardenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UsingHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoveShopActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoveShopInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.JoinTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ActivitiesRecruitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProjectRecruitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LaunchEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.PublishProjectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.AcManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProjectManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AcManagementDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisteredStaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProjectManagementDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LeaveWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatDeticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchKeyWordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VoluntaryCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyProActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TeamInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyTeamPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AllLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ManagerUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyTeamPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DaiQainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.UserDetialActivity" />
        <activity android:name=".ui.activity.ShowBannerActivity" />
        <activity android:name=".ui.activity.BecomeZhuanActivity" />
        <activity android:name=".ui.activity.MapActivity" />
        <activity android:name=".ui.activity.ModifyUserInfoActivity" >
        </activity>
    </application>

</manifest>